{{header.comment_tag}} GENERATED ON {{header.date}}
{{header.comment_tag}} BY API_GENERATOR VERSION {{header.version}}
{{header.comment_tag}} INPUT FILE: {{header.hash}}
{{header.comment_tag}}
{% block content %}
{% endblock content %}
