{#- Copyright 2023 TropicSquare -#}
{#- SPDX-License-Identifier: Apache-2.0 -#}
{{header.comment_tag}} GENERATED ON {{header.date}}
{{header.comment_tag}} BY {{header.tool}} VERSION {{header.version}}
{{header.comment_tag}} INPUT FILE: {{header.hash}}
{{header.comment_tag}}
{{header.comment_tag}} Copyright 2024 TropicSquare
{{header.comment_tag}} SPDX-License-Identifier: Apache-2.0
{% block content %}
{% endblock content %}
